<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" th:remove="tag"></div>
    <title>Administration - Anti Fraud System</title>
</head>
<body>
<!--Dynamic navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar :: navbar"></nav>
<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>
    <!--Dynamic sidebar-->
    <nav id="sidebar" class="sidebar-wrapper" th:insert="fragments/sidebar :: sidebar-general"></nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Update user role</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <form th:action="@{/web/admin/update-role}" method="post">
                        <p class="hint-text">Fill in this form to update the role of a user:</p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Username"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <label>Select role:
                                <select id="userrole">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="MERCHANT">Merchant</option>
                                    <option value="SUPPORT">Support</option>
                                    <option value="ADMINISTRATOR">Administrator</option>
                                </select>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Update role" onclick=updateRole()>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/admin/put-update-role.js}"></script>
<script type="text/javascript" th:src="@{/scripts/handle-side-bar.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>
</body>
</html>