<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" th:remove="tag"></div>
    <title>Support - Anti Fraud System</title>
</head>
<body>
<!--Dynamic navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar :: navbar"></nav>
<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>
    <!--Dynamic sidebar-->
    <nav id="sidebar" class="sidebar-wrapper" th:insert="fragments/sidebar :: sidebar-general"></nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Support</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>Transaction history for a certain card number</p>
                    <form th:action="@{/web/support/transaction-history/}" method="post">
                        <div class="form-group col-md-12">
                            <label for="card-number">Card number</label>
                            <input type="text" class="form-control" id="card-number" name="card-number"
                                   th:name="cardnumber" placeholder="Enter card number">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary"
                                    onclick="window.location.href='/web/support/transaction-history'">Reset
                            </button>
                        </div>
                    </form>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group col-md-12">
                        <!--Render a thymeleaf table of transactions -->
                        <p>Full transaction history:</p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Feedback</th>
                                <th scope="col">IP Address</th>
                                <th scope="col">Card Number</th>
                                <th scope="col">Region</th>
                                <th scope="col">Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaction : ${transactions}">
                                <td th:text="${transaction.amount}"></td>
                                <td th:text="${transaction.date}"></td>
                                <td th:text="${transaction.feedback}"></td>
                                <td th:text="${transaction.ip}"></td>
                                <td th:text="${transaction.number}"></td>
                                <td th:text="${transaction.region}"></td>
                                <td th:text="${transaction.result}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/handle-side-bar.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>
</body>
</html>