<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Content</title>
</head>
<body>
<!--General content notifications area-->
<div class="form-group col-md-12" th:fragment="content-notification">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">App Status</h4>
        <p>There are currently no events or notifications that need your attention. Have a nice day!</p>
        <a href="#" target="_blank"
           class="btn btn-sm btn-primary mr-2">Show events</a>
        <a href="#" target="_blank"
           class="btn btn-sm btn-success">OK</a>
    </div>
</div>
</body>
</html>