<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="text-center">
        <div class="mb-2">
            <small id="copyright-footer">
                © Dan Koller
            </small>
        </div>
        <div>
            <a href="https://github.com/dan-koller" target="_blank">
                <img alt="GitHub followers"
                     src="https://img.shields.io/github/followers/dan-koller?label=github&style=social"/>
            </a>
        </div>
    </footer>
</div>
</body>
</html>