<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Navbar</title>
</head>
<body>
<!--General navbar structure-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a th:href="@{/web/}" class="navbar-brand"><b>Anti Fraud System</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a th:href="@{/web/}" class="nav-item nav-link">Home</a>
            <a th:href="@{/web/about}" class="nav-item nav-link">About</a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Services</a>
                <div class="dropdown-menu">
                    <a th:href="@{/web/merchant}" class="dropdown-item">Merchant view</a>
                    <a th:href="@{/web/support}" class="dropdown-item">Support view</a>
                    <a th:href="@{/web/admin}" class="dropdown-item">Administration</a>
                </div>
            </div>
            <a th:href="@{/web/contact}" class="nav-item nav-link">Contact</a>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <div class="input-group-append">
					<span class="input-group-text">
						<i class="material-icons"></i>
					</span>
                </div>
            </div>
        </form>
        <div class="navbar-nav ml-auto action-buttons" sec:authorize="isAnonymous()"
             th:insert="fragments/navbar :: navbar-login">
        </div>
        <div class="navbar-nav ml-auto action-buttons" sec:authorize="isAuthenticated()"
             th:insert="fragments/navbar :: navbar-logout">
        </div>
    </div>
</nav>
<!--Login area-->
<div class="nav-item dropdown" th:fragment="navbar-login">
    <!--Include login script-->
    <script type="text/javascript" th:src="@{/scripts/post-login-form.js}"></script>
    <!--Login form-->
    <a th:href="@{/#}" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
    <div class="dropdown-menu action-form">
        <form th:action="@{/login}" method="post">
            <p class="hint-text">Sign in with your social media account</p>
            <div class="form-group social-btn clearfix">
                <a th:href="@{/#}" class="btn btn-secondary facebook-btn float-left"><i
                        class="fa fa-facebook"></i> Facebook</a>
                <a th:href="@{/#}" class="btn btn-secondary twitter-btn float-right"><i
                        class="fa fa-twitter"></i> Twitter</a>
            </div>
            <div class="or-seperator"><b>or</b></div>
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                       required="" autofocus="">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Password" required="">
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Login">
            <div class="text-center mt-2">
                <a href="#">Forgot Your password?</a>
            </div>
        </form>
    </div>
</div>
<div class="nav-item dropdown" th:fragment="navbar-login">
    <!--Include signup script-->
    <script type="text/javascript" th:src="@{/scripts/signup-new-user.js}"></script>
    <!--Signup form-->
    <a th:href="@{/web/}" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn"
       aria-expanded="false">Sign up</a>
    <div class="dropdown-menu action-form">
        <form th:action="@{/web/}" method="post">
            <p class="hint-text">Fill in this form to create your account!</p>
            <div class="form-group">
                <input type="text" class="form-control" id="signup-name" placeholder="Your name"
                       required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="signup-username" placeholder="Username"
                       required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="signup-password" placeholder="Password"
                       required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="signup-confirm_password"
                       placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a
                        th:href="@{/#}">Terms &amp; Conditions</a></label>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Sign up" onclick=sendSignup()>
        </form>
    </div>
</div>
<!--Logout area-->
<div class="nav-item dropdown" th:fragment="navbar-logout">
    <!--Information about the currently logged-in user-->
    <a th:href="@{/web/profile}" class="nav-link mr-4">Signed in as <b><span sec:authentication="name"></span></b></a>
</div>
<div class="nav-item dropdown" th:fragment="navbar-logout">
    <a th:href="@{/logout}" class="nav-link dropdown-toggle mr-4">Logout</a>
</div>
</body>
</html>