<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sidebar</title>
</head>
<body>
<!--General sidebar-->
<nav id="sidebar" class="sidebar-wrapper" th:fragment="sidebar-general">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">Menu</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded"
                     src="https://cdn1.iconfinder.com/data/icons/ui-essential-17/32/UI_Essential_Outline_1_essential-app-ui-avatar-profile-user-account-512.png"
                     alt="User picture">
            </div>
            <div class="user-info">
                <!--Add thymeleaf username and role-->
                <span class="user-name" th:text="${fullname}"></span>
                <span class="user-role" th:text="${userrole}"></span>
                <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu"><span>General</span></li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                        <span class="badge badge-pill badge-warning">New</span>
                    </a>
                    <div class="sidebar-submenu">
                        <!--Admin related links-->
                        <ul sec:authorize="hasRole('ADMINISTRATOR')"
                            th:replace="fragments/sidebar :: admin-sidebar-dashboards"></ul>
                        <!--Merchant related links-->
                        <ul sec:authorize="hasRole('MERCHANT')"
                            th:replace="fragments/sidebar :: merchant-sidebar-dashboards"></ul>
                        <!--Support related links-->
                        <ul sec:authorize="hasRole('SUPPORT')"
                            th:replace="fragments/sidebar :: support-sidebar-dashboards"></ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-tasks"></i>
                        <span>Tasks</span>
                        <span id="tasks-count" class="badge badge-pill badge-danger"></span>
                    </a>
                    <div id="tasks-menu" class="sidebar-submenu">
                        <!--Admin related links-->
                        <ul sec:authorize="hasRole('ADMINISTRATOR')"
                            th:replace="fragments/sidebar :: admin-sidebar-links"></ul>
                        <!--Merchant related links-->
                        <ul sec:authorize="hasRole('MERCHANT')"
                            th:replace="fragments/sidebar :: merchant-sidebar-links"></ul>
                        <!--Support related links-->
                        <ul sec:authorize="hasRole('SUPPORT')"
                            th:replace="fragments/sidebar :: support-sidebar-links"></ul>
                    </div>
                    <!--JS block to show the number of tasks-->
                    <script th:src="@{/scripts/sidebar-count-tasks.js}"></script>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-globe"></i>
                        <span>Maps</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="https://maps.google.com">Google maps</a></li>
                            <li><a href="https://www.openstreetmap.org/">Open street map</a></li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>Extra</span>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Documentation</span>
                        <span class="badge badge-pill badge-primary">Beta</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/web/profile}">
                        <i class="fa fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <a href="#">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</nav>
<!--Admin context-->
<ul th:fragment="admin-sidebar-links">
    <li><a th:href="@{/web/admin/new-user}">Add user</a></li>
    <li><a th:href="@{/web/admin/delete-user}">Remove user</a></li>
    <li><a th:href="@{/web/support/list-users}">List current users</a></li>
    <li><a th:href="@{/web/admin/update-role}">Update user role</a></li>
    <li><a th:href="@{/web/admin/update-access}">Update user access</a></li>
</ul>
<ul th:fragment="admin-sidebar-dashboards">
    <li><a href="#">Custom Dashboard<span class="badge badge-pill badge-success">Pro</span></a></li>
    <li><a href="#">Server Dashboard</a></li>
    <li><a href="#">User Dashboard</a></li>
</ul>
<!--Merchant context-->
<ul th:fragment="merchant-sidebar-links">
    <li><a th:href="@{/web/admin/new-user}">Add user</a></li>
    <li><a th:href="@{/web/merchant/new-transaction}">Post a new transaction</a></li>
</ul>
<ul th:fragment="merchant-sidebar-dashboards">
    <li><a href="#">Custom Dashboard<span class="badge badge-pill badge-success">Pro</span></a></li>
    <li><a href="#">Merchant Dashboard</a></li>
    <li><a href="#">Customer Dashboard</a></li>
</ul>
<!--Support context-->
<ul th:fragment="support-sidebar-links">
    <li><a th:href="@{/web/admin/new-user}">Add user</a></li>
    <li><a th:href="@{/web/support/list-users}">List current users</a></li>
    <li><a th:href="@{/web/support/manage-ip}">Manage suspicious IPs</a></li>
    <li><a th:href="@{/web/support/manage-stolencard}">Manage stolen cards</a></li>
    <li><a th:href="@{/web/support/transaction-history}">Get transaction history</a></li>
    <li><a th:href="@{/web/support/review-transaction}">Review transactions</a></li>
</ul>
<ul th:fragment="support-sidebar-dashboards">
    <li><a href="#">Custom Dashboard<span class="badge badge-pill badge-success">Pro</span></a></li>
    <li><a href="#">Support Dashboard</a></li>
    <li><a href="#">User Dashboard</a></li>
</ul>
</body>
</html>