<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" th:remove="tag"></div>
    <title>About</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/indexStyle.css}">
</head>
<body>
<!--Dynamic navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar :: navbar"></nav>

<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid">
            <h2>About this project</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This project demonstrates (in a simplified form) the principles of anti-fraud systems in the
                        financial sector. For this project, we will work on a system with an expanded role model, a set
                        of REST endpoints responsible for interacting with users, and an internal transaction validation
                        logic based on a set of heuristic rules.</p>
                    <p>The system is mainly divided into two parts: the front-end and the back-end. The front-end is
                        responsible for the interaction with the user, and the back-end is responsible for the
                        interaction with the database and the validation of the transactions.</p>
                    <p>The front-end is a web application that allows the user to interact with the system. It is built
                        primarily with HTML, CSS, and JavaScript. The back-end is a REST API that allows the front-end
                        to interact with the database. It is built primarily with Java and Spring Boot.</p>
                    <p>You can find the complete code on
                        <a href="https://github.com/dan-koller/Spring-Anti-Fraud-System" target="_blank">Github</a>.</p>
                </div>
            </div>
            <hr>
            <footer class="text-center" th:replace="fragments/footer :: footer"></footer>
        </div>
    </main>
</div>

<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/signup-new-user.js}"></script>
<script type="text/javascript" th:src="@{/scripts/post-login-form.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>

</body>
</html>