<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" th:remove="tag"></div>
    <title>Anti Fraud System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/indexStyle.css}">
</head>
<body>
<!--Dynamic navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar :: navbar"></nav>

<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid">
            <h2>Anti-Fraud System</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This project demonstrates (in a simplified form) the principles of anti-fraud systems in the
                        financial sector. For this project, we will work on a system with an expanded role model, a set
                        of REST endpoints responsible for interacting with users, and an internal transaction validation
                        logic based on a set of heuristic rules.</p>
                    <p> You can find the complete code on
                        <a href="https://github.com/dan-koller/Spring-Anti-Fraud-System" target="_blank">Github</a>.</p>
                </div>
                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">New!</h4>
                        <p>New messages or notifications can be posted here</p>
                        <a href="https://github.com/dan-koller/Spring-Anti-Fraud-System" target="_blank"
                           class="btn btn-sm btn-primary mr-2">Github</a>
                        <a href="#" target="_blank"
                           class="btn btn-sm btn-success">Demo</a>
                    </div>

                </div>
            </div>
            <h5>More projects</h5>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://raw.githubusercontent.com/dan-koller/Spring-Code-Sharing-Platform/main/img.png"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Code Sharing Platform</h6>
                            <a href="https://github.com/dan-koller/Spring-Code-Sharing-Platform" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://dan-koller.github.io/src/images/api-coding.jpg"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Accounting Service</h6>
                            <a href="https://github.com/dan-koller/Spring-Accounting-Service" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://raw.githubusercontent.com/dan-koller/Flask-Weather-App/main/res/weather-app-screenshot.png"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Weather app</h6>
                            <a href="https://github.com/dan-koller/Flask-Weather-App" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer class="text-center" th:insert="fragments/footer :: footer"></footer>
        </div>
    </main>
</div>

<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/signup-new-user.js}"></script>
<script type="text/javascript" th:src="@{/scripts/post-login-form.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>

</body>
</html>