<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Anti Fraud System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/mainStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/indexStyle.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--Login navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/web/" class="navbar-brand"><b>Anti Fraud System</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="/web/" class="nav-item nav-link">Home</a>
            <a href="/web/about/" class="nav-item nav-link">About</a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Services</a>
                <div class="dropdown-menu">
                    <a href="/web/merchant/" class="dropdown-item">Merchant view</a>
                    <a href="/web/support/" class="dropdown-item">Support view</a>
                    <a href="/web/admin/" class="dropdown-item">Administration</a>
                </div>
            </div>
            <a href="/web/contact" class="nav-item nav-link">Contact</a>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <div class="input-group-append">
					<span class="input-group-text">
						<i class="material-icons"></i>
					</span>
                </div>
            </div>
        </form>
        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
                <div class="dropdown-menu action-form">
                    <form action="/login" method="post">
                        <p class="hint-text">Sign in with your social media account</p>
                        <div class="form-group social-btn clearfix">
                            <a href="#" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                        <div class="or-seperator"><b>or</b></div>
                        <div class="form-group">
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                        <div class="text-center mt-2">
                            <a href="#">Forgot Your password?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn" aria-expanded="false">Sign up</a>
                <div class="dropdown-menu action-form">
                    <form action="/web/success" method="post">
                        <p class="hint-text">Fill in this form to create your account!</p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="signup-name" placeholder="Your name" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="signup-username" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signup-password" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signup-confirm_password" placeholder="Confirm Password" required="required">
                        </div>
                        <div class="form-group">
                            <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Sign up" onclick=send()>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid">
            <h2>Anti-Fraud System</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <p>This project demonstrates (in a simplified form) the principles of anti-fraud systems in the
                        financial sector. For this project, we will work on a system with an expanded role model, a set
                        of REST endpoints responsible for interacting with users, and an internal transaction validation
                        logic based on a set of heuristic rules.</p>
                    <p> You can find the complete code on
                        <a href="https://github.com/dan-koller/Spring-Anti-Fraud-System" target="_blank">Github</a>.</p>
                </div>
                <div class="form-group col-md-12">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">New!</h4>
                        <p>New messages or notifications can be posted here</p>
                        <a href="https://github.com/dan-koller/Spring-Anti-Fraud-System" target="_blank"
                           class="btn btn-sm btn-primary mr-2">Github</a>
                        <a href="#" target="_blank"
                           class="btn btn-sm btn-success">Demo</a>
                    </div>

                </div>
            </div>
            <h5>More projects</h5>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://raw.githubusercontent.com/dan-koller/Spring-Code-Sharing-Platform/main/img.png"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Code Sharing Platform</h6>
                            <a href="https://github.com/dan-koller/Spring-Code-Sharing-Platform" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://dan-koller.github.io/src/images/api-coding.jpg"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Accounting Service</h6>
                            <a href="https://github.com/dan-koller/Spring-Accounting-Service" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                        <img src="https://raw.githubusercontent.com/dan-koller/Flask-Weather-App/main/res/weather-app-screenshot.png"
                             class="card-img-top rounded-0" alt="Angular pro sidebar">
                        <div class="card-body text-center">
                            <h6 class="card-title">Weather app</h6>
                            <a href="https://github.com/dan-koller/Flask-Weather-App" target="_blank"
                               class="btn btn-primary btn-sm">Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer class="text-center">
                <div class="mb-2">
                    <small id="copyright-footer">
                        © Dan Koller
                    </small>
                </div>
                <div>
                    <a href="https://github.com/dan-koller" target="_blank">
                        <img alt="GitHub followers"
                             src="https://img.shields.io/github/followers/dan-koller?label=github&style=social"/>
                    </a>
                </div>
            </footer>
        </div>
    </main>
</div>

<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/signup-new-user.js}"></script>
<script type="text/javascript" th:src="@{/scripts/post-login-form.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>

</body>
</html>