<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header" th:remove="tag"></div>
    <title>Merchant - Anti Fraud System</title>
</head>
<body>
<!--Dynamic navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navbar :: navbar"></nav>
<!--Main content-->
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>
    <!--Dynamic sidebar-->
    <nav id="sidebar" class="sidebar-wrapper" th:insert="fragments/sidebar :: sidebar-general"></nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Merchant</h2>
            <hr>
            <div class="row">
                <div class="form-group col-md-12" th:replace="fragments/content :: content-notification"></div>
                <div class="form-group col-md-12">
                    <p id="user-greeting">Hello there!</p>
                    <p>What would you like to do?</p>
                    <ul>
                        <li><a th:href="@{/web/admin/new-user}">Add user</a></li>
                        <li><a th:href="@{/web/merchant/new-transaction}">Post a new transaction</a></li>
                    </ul>
                </div>
            </div>
            <footer class="text-center" th:insert="fragments/footer :: footer"></footer>
        </div>
    </main>
</div>
<!--Custom scripts-->
<script type="text/javascript" th:src="@{/scripts/set-greeting.js}"></script>
<script type="text/javascript" th:src="@{/scripts/handle-side-bar.js}"></script>
<script type="text/javascript" th:src="@{/scripts/set-footer-text.js}"></script>
</body>
</html>