<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anti Fraud System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<!--Add a navbar-->
<div class="header_container">
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Anti Fraud System</a>
    </nav>
</div>

<!--Add a form to register-->
<div>
    <label>Name:</label>
    <input id="name" type="text" value=""/>
</div>
<div>
    <label>Username:</label>
    <input id="username" type="text" value=""/>
</div>
<div>
    <label>Password:</label>
    <input id="password" type="password" value=""/>
</div>
<div>
    <button id=send_snippet class="btn btn-primary" type=submit onclick=send()>Submit</button>
</div>

<!--Transfer user object script-->
<script type=text/javascript>
    function send() {
    let object = {
        name: document.getElementById("name").value,
        username: document.getElementById("username").value,
        password: document.getElementById("password").value
    };

    console.log(object);

    let json = JSON.stringify(object);

    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/api/auth/user', false);
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.send(json);

    if (xhr.status == 200 || xhr.status == 201) {
        alert("Success!");
    }
}
</script>

</body>
</html>